/* font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive; */

body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Monoton', cursive;   
}

input {
    padding: 2%;
    border-radius: 10%;
    border: none;   
    background: goldenrod;
}

button {
    padding: 2%;
    border-radius: 10%;
    background: tomato;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 3%;
    
}

section {
    border: solid 1px grey;
    border-radius: 15%;
    padding: 3%;
    margin: 10px;
}

h2 {
    font-family: 'Monoton', cursive; 
    text-align: center;
}

h3 {
    font-weight: bolder;
}

img {
    width: 400px;
    height: 200px;
}

.north_america {
    background: green;
}

.asia {
    background: purple;
}

.australaia {
    background: brown;
}